@model Budgeter.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
}

<div class="content-box-bordered register-box">
    <h1>Associate your @ViewBag.LoginProvider account.</h1>
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Email)
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon ion-person"></i></span>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "username", @placeholder = "First Name" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon ion-person"></i></span>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "username", @placeholder = "Last Name" })
                </div>
            </div>
        </div>       
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success btn-block"><i class="icon ion-checkmark-circled"></i> Create Account</button>
            </div>
        </div>
    }
</div>

