@model IEnumerable<Budgeter.Models.BudgetItem>

<h2>Budget Items for @ViewBag.BudgetName Monthly Budget</h2>

<p>
    @Html.ActionLink("Create New Budget Item", "Create", "BudgetItems", new { budgetId = ViewBag.BudgetId }, null) |
    @Html.ActionLink("Back to Budget Management Overview", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                $@item.Amount
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BudgetItems", new { budgetItemId = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "BudgetItems", new { budgetItemId = item.Id }, null)
            </td>
        </tr>
    }
</table>
