@model IEnumerable<Budgeter.Models.Budget>

<h2>Budgets for @ViewBag.HouseholdName</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Budget Name
        </th>
        <th>
            Monthly Budget
        </th>
        <th>
            Budget Items
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @string.Concat("$",ViewBag.BudgetAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetItems.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { BudgetId=item.Id }) |
            @Html.ActionLink("Details", "Details", new { BudgetId=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { BudgetId=item.Id })
        </td>
    </tr>
}

</table>
