@using Budgeter.Models
@model HouseholdViewModel

<div class="h2">You are currently part of the <i> "@Model.CurrentHousehold.Name" </i> household</div> 
<div class="h4">This houshold has @Model.CurrentHousehold.Members.Count members, 
    @Model.CurrentHousehold.Budgets.Count budgets and @Model.CurrentHousehold.Categories.Count categories</div>
<br />
<hr />
<br />
<div class="h2">Change Household</div>
<div class="h4 text-danger">Please note that if you are the only member a household and you leave it, 
    then all the data of that household will be erased. This action cannot be undone </div>
<div class="row">
    <div class="col-sm-6">
        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-ios-grid-view-outline"></i> <span>BASIC TABLE</span></h3>
                <div class="btn-group widget-header-toolbar visible-lg">
                    <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                    <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Members</th>
                            <th>Budgets</th>
                            <th>Categories</th>
                        </tr>
                    </thead>
                    @foreach (Household household in Model.HouseholdOptions)
                    {
                    <tbody>
                        <tr>
                            <td>@household.Name</td>
                            <td>@household.Members.Count</td>
                            <td>@household.Budgets.Count</td>
                            <td>@household.Budgets.Count</td>
                        </tr>
                    </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


