@using Budgeter.Models
@model HouseholdViewModel

<div class="container-fluid primary-content">
    <div class="primary-content-heading clearfix" id="changeHousehold">
        <h2>Change Household </h2>
        <p class="h5">You are currently a member of @Model.CurrentHousehold.Name Household. Your household has
            <i>@Model.CurrentHousehold.HouseholdAccounts.Count account(s)</i> with combined balance of <i>$ @Model.TotalBalance</i>                     
            and <i>@Model.CurrentHousehold.Budgets.Count budget(s)</i>  with a total budgeted amout of <i>$ @Model.CombinedBudgetAmounts</i>.    
            The household has @Model.CurrentHousehold.Members.Count member(s):
                @foreach (ApplicationUser member in Model.CurrentHousehold.Members)
                {
                    if (Model.CurrentHousehold.Members.Count == 1)
                    {
                        <i>@String.Concat(member.FirstName, " ", member.LastName, ".")</i>
                    }
                    else
                    {
                        if (Model.CurrentHousehold.Members.ToList().IndexOf(member) == Model.CurrentHousehold.Members.Count - 1)
                        {
                            <i>@String.Concat("and ", member.FirstName, " ", member.LastName, ".")</i>
                        }
                        else
                        {
                            <i>@String.Concat(member.FirstName, " ", member.LastName, ", ")</i>
                        }
                    }
                }       
        </p>      
    </div> 
    <div class="row">
        <div class="col-sm-6">
             <div class="widget">
                <div class="widget-content">
                    <div class="h3">Switch to Existing Household</div>
                    <div class="h5">Plese note you can only switch to a household for which you have an invite</div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Members</th>
                                <th>Accounts</th>
                                <th>Budgets</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InvitationWithHousehold invite in Model.HouseholdOptions)
                            {
                                <tr>
                                    <td>@invite.Household.Name</td>
                                    <td>@invite.Household.Members.Count</td>
                                    <td>@invite.Household.HouseholdAccounts.Count</td>
                                    <td>@invite.Household.Budgets.Count</td>
                                    <td>@Html.ActionLink("Join", "ChangeHousehold", "Households", new { invitationId = invite.Invitation.Id }, new { @class = "btn btn-success" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="widget">
                <div class="widget-content">
                    <div class="h3">Switch to New Household</div>
                    <div class="h5">You can create here a complete new household and switch to it</div>

                    @using (Html.BeginForm("CreateAndChangeHousehold", "Households", FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "newHousehold"}))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="input-group">
                                <input name="members" value="1" type="hidden" />
                                <input type="text" class="form-control" name="newName" placeholder="Pick Household Name">
                                <span class="input-group-btn"><button class="btn btn-success" type="submit"><span class="icon ion-compose"> Create New Household</span></button></span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>        
    </div>
    <footer class="h5 text-danger">
        Please note that if you are the only member a household and you leave it,
        then all the data of that household will be erased. This action cannot be undone.
    </footer>
</div>
