@model IEnumerable<Budgeter.Models.Transaction>

<h2>Transactions for @ViewBag.HouseholdAccountName</h2>

<p>
    @Html.ActionLink("Create New Transaction", "Create", new { householdAccountId = ViewBag.HouseholdAccountId }) |
    @Html.ActionLink("Back to Accounts List", "Index", "HouseholdAccount")
</p>
<div class="widget">
    <div class="widget-content">
        <div class="table-responsive">
            <table id="datatable-column-filter" class="table table-sorting table-striped table-hover datatable">
                <thead>
                    <tr>
                        <th>
                            Category
                        </th>
                        <th>
                            Entered By
                        </th>
                        <th>
                            Account
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReconciledAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reconciled)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnteredBy.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseholdAccount.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @item.Date.ToString("d")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReconciledAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reconciled)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { transactionId = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { transactionId = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>