@model IEnumerable<Budgeter.Models.Category>

<div class="h2">Index of Categories</div>
<div class="h5 text-info">Please note that only Categories that contain no transactinons can be deleted</div>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Transactions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.Transactions.Count
        </td>
        <td>
            @*@if (item.Transactions.Count == 0)
            {*@
                @Html.ActionLink("Delete", "Delete", new { categoryId = item.Id });
            @*}*@
        </td>
    </tr>
}

</table>
