@using Budgeter.Models
@model List<HouseholdAccount>

<div class="container-fluid primary-content">
    <div class="primary-content-heading clearfix">
        <h2>Accounts for @ViewBag.HouseholdName Household</h2>
        <div class="project-list-subheading">
            <p class="lead">
                You have
                <span class="label label-success">@Model.Count account(s)</span>
                with combined balance of
                <span class="label label-warning">$ @ViewBag.CombinedBalance</span>
                and combined reconciled balance of
                <span class="label label-default">$ @ViewBag.CombinedReconciledBalance</span>
            </p>
            @Html.Action("Create", "HouseholdAccount")
        </div>
    </div>
    <div class="widget">
        <div class="widget-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Creation Date</th>
                        <th>Transactions</th>
                        <th>Balance</th>
                        <th>Reconciled Balance</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (HouseholdAccount account in Model)
                    {
                        <tr>
                            <td>@account.Name</td>
                            <td>@account.CreationDate.Date.ToString("d")</td>
                            <td>@account.Transactions.Count</td>
                            <td>@string.Concat("$", account.Balance)</td>
                            <td>@string.Concat("$", account.ReconciledBalance)</td>
                            <td>@Html.ActionLink("Transactions", "Index", "Transactions", new { householdAccountId = account.Id }, new { @class = "btn btn-primary btn-xs" })</td>
                            <td>@Html.ActionLink("Rename", "Edit", new { householdAccountId = account.Id }, new { @class = "btn btn-warning btn-xs" })</td>
                            <td>@Html.ActionLink("Delete", "Delete", new { householdAccountId = account.Id }, new { @class = "btn btn-danger btn-xs" })</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>